spring:
  datasource:
    url: jdbc:mysql://localhost:3307/kpfl?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET:bXlfc3VwZXJfc2VjcmV0X2pwX3NpZ25pbmdfa2V5X2Zvcl9rcGZsXzIwMjY=}
  access-token-expiration-ms: ${JWT_ACCESS_EXPIRATION_MS:86400000}
